* {
  margin: 0;
  padding: 0;
}

:root {
  --game-width: 1200px;
  --game-height: 675px;
  --card-width: 75px;
  --card-height: 100px;
  --player-width: 300px;
  --player-height: 150px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(39, 39, 39);
}

.gv {
  background-color: gainsboro;
  width: var(--game-width);
  height: var(--game-height);
  overflow: hidden;
  position: relative;
}

.game {
  /* position: relative; */
}

.player-list{
  /* position: relative; */
}

.player {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--player-width);
  height: var(--player-height);
  background-color: red;
  border-radius: 100%;
}


.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: var(--player-width); 
  position: relative; 
}

.card-list:hover .card {
  transform-origin: center 600px; 

}

.card {
  width: var(--card-width);
  height: var(--card-height);
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: absolute;
  flex-direction: column;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2); 
  transform-origin: center 400px; 
  transition: all .4s linear; 
  padding: 5px;
}

.card-top {
  align-self: flex-start;
}
.card-btm {
  align-self: flex-end;
  transform: rotate(-180deg);
}

.card:hover {
  z-index: 1;
  cursor: pointer;
}
