* {
  margin: 0;
  padding: 0;
}

:root {
  --game-width: 1200px;
  --game-height: 675px;
  --card-width: 75px;
  --card-height: 100px;
  --player-width: 300px;
  --player-height: 150px;
}


.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: var(--player-width); 
  position: relative; 
}

.card-list-user:hover .card {
  transform-origin: center 600px; 

}

.card {
  width: var(--card-width);
  height: var(--card-height);
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: absolute;
  flex-direction: column;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2); 
  transform-origin: center 400px; 
  transition: all .4s linear; 
  padding: 5px;
}


.card-user:hover {
  z-index: 1;
  cursor: pointer;
}
